.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    color: #0B2434;
    margin: 3% 2%;
    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 5px;
        font-size: 1.5rem;
        width: 50%;
    }
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 2%;
    margin-bottom: 3%;
    background-color: #F5F5F5;
}

.die {
    border: 2px solid #0B2434;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.clicked {
    background-color: #59E391;
    color: #000000;
}

.not-clicked {
    background-color: #FFFFFF;
    color: #0B2434;
}

.roll-btn {
    background-color: #5035FF;
    color: #FFFFFF;
    width: 20%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 3%;
    font-weight: bold;
}
